<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="DemoQA-POM" parallel="classes" thread-count="3" verbose="5"> -->
<suite name="DemoQA-POM" parallel="none" thread-count="2" verbose="10">
	<test name="ToolsQA">
		<classes>
		 <class name="testcases.TestCase1" />
		 <class name="testcases.TestCase2" />
		<!-- 	<class name="keyword.RunKeywordScripts"/>	 -->	
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
